
.embed{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* *** group color*** */
.color{
    color: #0D1321;
    text-decoration: none;
}

/********** top of main function ********/
.resume{
    display: flex;
    justify-content: space-between;
}
.extra-title{
    font-size: 28px;
    font-weight: 800;
    margin-top: 50px;
    margin-left: 150px;
}
.modyfy-button{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    margin-bottom: 36px;
}
.button-title{
    margin-top: 38px;
    border-radius: 8px;
    margin-right: 150px ;
}
/* ********* header style ********** */
header{
    background-image: url('../assets/Hero-bg.png');
    text-align: center;
    margin-bottom: 74px;
}
.header-pic{
    margin-top: 26px;
    margin-bottom: 32px;
}
.header-title{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    width: 1000px;
    margin: 24px auto;

}
.header-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    width: 852px;
    margin: 0px auto;
}
.header-button{
    margin-top: 32px;
}
.magic-button{
    font-size: 20px;
    padding: 21px 30px;
    background-color:#0D1321 ;
    color: #FFFFFF;
    border-radius: 8px;
    margin-bottom:45px ;
}
/* ***********  main style part 1 ************* */
.extra{
    width: 1140px;
    margin: 0 auto;
    background: #f8f7f7;
    border-radius: 16px;
}
.web{
    width: 950px;
    margin: 90px auto;

}
.web-title{
    font-size: 32px;
    font-weight: 800;
    padding-top: 50px;
    text-align: center;
}
.web-paragraph{
    font-size: 16px;
    margin-top: 24px;  
    font-weight: 400;
    text-align: center;
    color: #0D1321;
}
/************ code of extra - change ********** */
.change{
    display: flex;
    background-color: #FFFFFF;
    gap: 100px;
    border-radius: 16px;
    background-image: repeating-linear-gradient(to right,white ,#f8f7f7);
}
.change-div{
    margin: 48px;
}
.change-image{
    width: 275px;
    width: 240px;
}
.change-heading{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.change-paragraph{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.change-button{
    font-size: 20px;
    font-weight: 400;
    padding: 12px 20px;
    border: 1px solid;
}
/* **********code of extra-world *********** */
.world{
    display: flex;
    gap: 32px;
    background-color: #FFFFFF;
    margin-top: 32px;
    border-radius: 16px;
    margin-bottom: 32px;
    background-image: repeating-linear-gradient(to right,#f8f7f7,#FFFFFF);
}
.world-div1{
   margin: 48px;
}
.world-div2{
    margin-top: 58px;
    margin-right: 150px;
}
.world-heading{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.world-paragraph{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.world-button{
    font-size: 20px;
    font-weight: 400;
    padding: 12px 20px;
    border: 1px solid;
}
/* ************ code of extra-system *************** */
.system{
    display: flex;
    gap: 133px;
    background-color: #FFFFFF;
    border-radius: 16px;
    background-image: repeating-linear-gradient(to right,white ,#f8f7f7);
}
.system-heading{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.system-paragraph{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.system-button{
    font-size: 20px;
    font-weight: 400;
    padding: 12px 20px;
    border: 1px solid;
}
.system-div1{
    margin: 60px 48px;
}
.system-image{
    margin: 48px;
}
.for-margin-buttom{
    padding-bottom: 75px;
}
/* *********** section 2 ************* */
.inspiration{
    text-align: center;
    margin-bottom: 150px;
}
.inspiration-heading{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.inspiration-paragraph{
    font-size: 16px;
    font-weight: 400;
    width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}
.inspiration-video{
    /* padding: 32px; */
    margin: 32px;
    border-radius: 16px;
    border: 1px solid;
}
.inspiration-midia{
    width: 1150px;
    border: 1px solid #c8c4c4;
    border-radius: 16px;
    margin: 0 auto;
}
/* *************** section 3 *************/
.target{
    text-align: center;
    margin-bottom: 50px;
}
.target-heading{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.target-paragraph{
    font-size: 16px;
    font-weight: 400;
    width: 850px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.target-language{
    display: flex;
    margin: 0 auto;
    gap: 24px;
    width: 1150px;
}
.about-language1{
    background-color: #faefe9;
    width: 362px;
    padding: 40px;
    border-radius: 16px;
    text-align: start;
}
.about-language2{
    width: 360px;
    padding: 40px;
    border-radius: 16px;
    background-color: #eaeffc;
    text-align: start;
    border: none;
}
.about-language3{
    width: 360px;
    padding: 40px;
    border-radius: 16px;
    background-color: #fbfaed;
    text-align: start;
    border: none;
}
.language-anchor{
    color: #0D1321;
    font-weight: 700;
    border: none;
}
/* ************** section 4 ********************* */
.support{
    text-align: center;
    background-image:url('../assets/handshake.jpg');
    width: 1140px;
    border-radius: 16px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.support-heading{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 64px;
}
.support-paragraph{
    font-size: 16px;
    font-weight: 400px;
    color: #FFFFFF;
    width: 600px;
    margin: 0 auto;
}
.support-button{
    margin-top: 24px;
    padding-bottom: 64px;
    display: flex;
    gap: 16px;
    justify-content: center;
}
.support-input{
    width: 400px;
    font-size: 16px;
    padding: 19px 215px 19px 20px;
    border: none;
    border-radius: 8px;
}
.support-submit{
    padding: 17px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600px;
    border: none;
}
/* ************ footer ************** */
footer{
    display: flex;
    justify-content: space-between;
    background-color: #f0f1f3;
    border-radius: 16px;
}
.footer-title{
    font-size: 20px;
    font-weight: 600;
    margin: 38px 150px;
}
.footer2{
    margin: 32px 150px;
}
.footer-img{
    margin-left: 24px;
}


