/********** top of main function ********/
.resume{
    display: flex;
    justify-content: space-between;
}
.extra-title{
    font-size: 28px;
    font-weight: 800;
    margin-top: 50px;
    margin-left: 150px;
}
.modyfy-button{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
}
.button-title{
    margin-top: 38px;
    border-radius: 8px;
    margin-right: 150px ;
}
/* ********* header style ********** */
header{
    background-image: url('../assets/Hero-bg.png');
    height: 652px;
}
